{% extends 'base.html' %}
{% block title %}Add Room{% endblock %}
{% block content %}    
    <div class="span6">
        <div class="col-xs-2"></div>
    </div>

    <div class="span6">
        <div class="col-xs-5">
            <form action="/create/room/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}	
                <label for="room_number">Room Number</label><br/>
                <input type="text" class="form-control" name="room_number" id="room_number" placeholder="Room Number" />
                <br/>
                <label for="room_name">Room Name (Optional)</label><br/>
                <input type="text" class="form-control" name="room_name" id="room_name" placeholder="Room Name" />
                <br/>
                <label for="room_size">Room Size</label><br/>
                <select class="form-control" name="room_size" id="room_size">
                    <option value="Select">Select</option>
                    <option value="Single Room">Single Room</option>
                    <option value="Double Room">Double Room</option>
                    <option value="Family Room">Family Room</option>
                </select>
                <br/>
                <label for="room_description">Room Description</label><br/>
                <textarea class="form-control" rows="10" cols="50" name="room_description" id="room_description"></textarea>
                <br/>
                <label for="currency">Currency</label><br/>
                <select class="form-control" name="currency" id="currency">
                    <option value="Select">Select</option>
                    <option value="British Pound">British Pound</option>
                    <option value="US Dollar">US Dollar</option>
                    <option value="Euro">Euro</option>
                </select>
                <br/>
                <label for="starting_price">Starting Price</label><br/>
                <input type="text" class="form-control" name="starting_price" placeholder="Starting Price" />
                <br/>
                <label for="valid_for_bid_from">Valid For Bid From</label><br/>
                <input type="date" class="form-control" name="valid_for_bid_from" />
                <br/>
                <label for="valid_for_bid_until">Valid For Bid Until</label><br/>
                <input type="date" class="form-control" name="valid_for_bid_until" />
                <br/>
                <label for="room_images">Upload Room Images</label><br/>
                <input type="file" name="room_images" multiple/>
                <br/>
                <strong><input type="submit" class="form-control" value="Add Room" /></strong>
	        </form>
        </div>
    </div>
{% endblock %}