<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                {% if hotel.is_authenticated %}
                    <!-- Logo -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/rooms/">ADVANCE WEB PORTAL</a>
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Nav Bar Links -->
                    <div id="navbar-main" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/rooms/">Rooms</a></li>
                            <li><a href="/add/room/">Add Room</a></li>
                        </ul>

                        <div class="row">
                            <div class="col-xs-7">
                                <p class="navbar-text navbar-right"><a href="/hotel/details/">{{ hotel.name }}</a></p>
                            </div>

                            <div class="col-xs-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/logout/">LogOut</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <!-- Logo -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">ADVANCE WEB PORTAL</a>
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                {% endif %}
            </div>
        </nav>
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>