{% extends 'base.html' %}
{% block title %}Hotel{% endblock %}
{% block content %}
    <div class="span6">
        <div class="col-xs-1"></div>
    </div>

    <div class="span6">
        <div class="row">
            <div class="col-xs-3">
                <h3><strong>Name:</strong></h3>
                <h3><strong>Address Line 1:</strong></h3>
                <h3><strong>Address Line 2:</strong></h3>
                <h3><strong>Town/City:</strong></h3>
                <h3><strong>County:</strong></h3>
                <h3><strong>Postcode:</strong></h3>
                <h3><strong>Country:</strong></h3>
                <h3><strong>Telephone Number:</strong></h3>
            </div>
            <div class="col-xs-3">
                <h3>{{ hotel.name }}</h3>

                {% if not hotel.address_line_1 %}
                    <h3>Not set</h3>
                {% else %}
                    <h3>{{ hotel.address_line_1}}</h3>
                {% endif %}

                {% if not hotel.address_line_2 %}
                    <h3>Not set</h3>
                {% else %}
                    <h3>{{ hotel.address_line_2}}</h3>
                {% endif %}

                <h3>{{ hotel.town_city }}</h3>

                {% if not hotel.county %}
                    <h3>Not set</h3>
                {% else %}
                    <h3>{{ hotel.county }}</h3>
                {% endif %}

                <h3>{{ hotel.postcode }}</h3>
                <h3>{{ hotel.country }}</h3>

                {% if not hotel.telephone_number %}
                    <h3>Not set</h3>
                {% else %}
                    <h3>{{ hotel.telephone_number }}</h3>
                {% endif %}
            </div>
        </div>
    </div>
    
    <br/><br/>
    <div class="span6">
        <div class="col-xs-1"></div>
    </div>

    <div class="col-xs-3">
        <a href="{% url 'AdvanceWebPortal:get_update_hotel_details_form' %}"><button type="button" class="form-control"><strong>Update Hotel Details</strong></button></a>
    </div>
{% endblock %}