{% extends 'base.html' %}
{% block title %}Advance Web Portal{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <font color="red"><h3>{{ message }}</h3></font>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="span6">
        <div class="col-xs-1"></div>
    </div>

    <div class="span6">
        <div class="col-xs-4">
            <h2>Login</h2><br/>
            <form action="/login/" method="post">
                {% csrf_token %}
                <label for="email">Email Address</label><br/>
                <input type="text" class="form-control" name="email" id="email" placeholder="Email Address" value="{% if email %} {{ email }} {% endif %}" />
                <br/>
                <label for="password">Password</label><br/>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" value="{% if password %} {{ password }} {% endif %}" />
                </br/>
                <strong><input type="submit" class="form-control" value="Login" /></strong>
            </form>
        </div>
    </div>

    <div class="span6">
        <div class="col-xs-1"></div>
    </div>

    <div class="span6">
        <div class="col-xs-5">
            <h2>Register</h2><br/>
            <form action="/register/" method="post">
                {% csrf_token %}
                <label for="hotel_name">Hotel Name</label><br/>
                <input type="text" class="form-control" name="hotel_name" id="hotel_name" placeholder="Hotel Name" value="{% if hotel_name %} {{ hotel_name }} {% endif %}" />
                <br/>
                <label for="town_city">Town/City</label><br/>
                <input type="text" class="form-control" name="town_city" id="town_city" placeholder="Town/City" value="{% if town_city %} {{ town_city }} {% endif %}" />
                <br/>
                <label for="postcode">Postcode</label><br/>
                <input type="text" class="form-control" name="postcode" id="postcode" placeholder="Postcode" value="{% if postcode %} {{ postcode }} {% endif %}" />
                <br/>
                <label for="country">Country</label><br/>
                <input type="text" class="form-control" name="country" id="country" placeholder="Country" value="{% if country %} {{ country }} {% endif %}" />
                <br/>
                <label for="email">Email Address</label><br/>
                <input type="text" class="form-control" name="email" id="email" placeholder="Email Address" value="{% if email %} {{ email }} {% endif %}" />
                <br/>
                <label for="password">Password</label><br/>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" value="{% if password %} {{ password }} {% endif %}" />
                </br/>
                <label for="confirm_password">Confirm Password</label><br/>
                <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" value="{% if confirm_password %} {{ confirm_password }} {% endif %}" />
                </br/>
                <strong><input type="submit" class="form-control" value="Register" /></strong>
            </form>
        </div>
    </div>

            <!--<div class="span6">
                <div class="col-xs-1"></div>
            </div>-->
{% endblock %}