{% extends 'base.html' %}
{% block title %}Rooms{% endblock %}
{% block content %}
    <div class="span6">
        <div class="col-xs-1"></div>
    </div>

    <div class="span6">
        <div class="col-xs-7">
            {% if rooms %}
                <table class="table">
                    <thead>
                        <tr>
                            <!--<th>Room Image</th>
                            <th>Room</th>
                            <th>Option</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        {% for room in rooms %}
                            <tr>
                                <td><img src="{{ room.main_room_image.url }}" class="img-responsive" id="thumbnail_size"></td>
                                <td><h3><a href="{% url 'AdvanceWebPortal:get_room_details' room.id %}">{{ room.id }} - {{ room.room_number }} - {{ room.room_name }}</a></h3></td>
                                <td><br/><a href="{% url 'AdvanceWebPortal:delete_room' room.id %}"><button type="button" class="form-control" style="background-color:red;color:white"><strong>Delete Room</strong></button></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h2>No rooms have been uploaded!</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}