{% extends 'base.html' %}
{% block title %}Room Details{% endblock %}
{% block content %}
    <div class="span6">
        <div class="col-xs-1"></div>
    </div>

    <div class="span6">
        <div class="row">
            <div class="col-xs-3">
                <h3><strong>Room Number:</strong></h3>
                <h3><strong>Room Name:</strong></h3>
                <h3><strong>Room Size:</strong></h3>
                <h3><strong>Room Description:</strong></h3>
                <h3><strong>Valid For Bid From:</strong></h3>
                <h3><strong>Valid For Bid Until:</strong></h3>
                <h3><strong>Currency:</strong></h3>
                <h3><strong>Starting Bid Price:</strong></h3>
            </div>
            <div class="col-xs-3">
                <h3>{{ room.room_number }}</h3>
                <h3>{{ room.room_name }}</h3>
                <h3>{{ room.room_size }}</h3>
                <h3>{{ room.room_description }}</h3>
                <h3>{{ room.valid_for_bid_from }}</h3>
                <h3>{{ room.valid_for_bid_until }}</h3>
                <h3>{{ room.currency }}</h3>
                <h3>{{ room.starting_bid_price }}</h3>
            </div>

            <div class="col-xs-4">
                <img src="{{ room.main_room_image.url }}" class="img-responsive" id="image_size">

                {% if images %}
                    {% for image in images %}
                        <img src="{{ image.room_image.url }}" class="img-responsive" id="image_size">
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="span6">
        <div class="col-xs-1"></div>
    </div>
    
    <div class="span6">
        <div class="row">
            <div class="col-xs-3">
                <a href="{% url 'AdvanceWebPortal:get_update_room_details_form' room.id %}"><button type="button" class="form-control"><strong>Update Room Details</strong></button></a>
            </div>
            <div class="col-xs-3">
                <a href="{% url 'AdvanceWebPortal:delete_room' room.id %}"><button type="button" class="form-control" style="background-color:red;color:white"><strong>Delete Room</strong></button></a>
            </div>
        </div>
    </div>
{% endblock %}