{% extends 'base.html' %}
{% block title %}Hotel{% endblock %}
{% block content %}
    <div class="span6">
        <div class="col-xs-2"></div>
    </div>

    <div class="span6">
        <div class="col-xs-5">
            <form action="/update/hotel/" method="POST">
                {% csrf_token %}
                <label for="address_line_1">Address Line 1</label><br/>
                {% if not hotel.address_line_1 %}
                    <input type="text" class="form-control" name="address_line_1" placeholder="Address Line 1"/>
                {% else %}
                    <input type="text" class="form-control" name="address_line_1" value="{{ hotel.address_line_1 }}"/>
                {% endif %}
                <br/>
                <strong>Address Line 2</strong><br/>
                {% if not hotel.address_line_2 %}
                    <input type="text" class="form-control" name="address_line_2" placeholder="Address Line 2"/>
                {% else %}
                    <input type="text" class="form-control" name="address_line_2" value="{{ hotel.address_line_2 }}"/>
                {% endif %}
                <br/>
                <strong>Town/City</strong><br/>
                <input type="text"  class="form-control" name="town_city" value="{{ hotel.town_city }}"/>
                <br/>
                <strong>County</strong><br/>
                {% if not hotel.county %}
                    <input type="text" class="form-control" name="county" placeholder="County" />
                {% else %}
                    <input type="text" class="form-control" name="county" value="{{ hotel.county }}"/>
                {% endif %}
                <br/>
                <strong>Postcode</strong><br/>
                <input type="text" class="form-control" name="postcode" value="{{ hotel.postcode }}"/>
                <br/>
                <strong>Country</strong><br/>
                <h4>{{ hotel.country }}</h4>
                <br/>
                <strong>Telephone Number</strong><br/>
                {% if not hotel.telephone_number %}
                    <input type="text" class="form-control" name="telephone_number" placeholder="Telephone Number" />
                {% else %}
                    <input type="text" class="form-control" name="telephone_number" value="{{ hotel.telephone_number }}"/>
                {% endif %}
                <br/>
                <strong><input type="submit" class="form-control" value="Update Contact Details" /></strong>
            </form>
        </div>
    </div>
{% endblock %}