{% extends 'base.html' %}
{% block title %}Update Room Details{% endblock %}
{% block content %}
    <div class="span6">
        <div class="col-xs-2"></div>
    </div>

    <div class="span6">
        <div class="col-xs-5">
            <form action="/update/room/" method="POST">
                {% csrf_token %}	
                <label for="room_number">Room Number</label><br/>
                <input type="text" class="form-control" name="room_number" id="room_number" value="{{ room.room_number }}" />
                <br/>
                <label for="room_name">Room Name (Optional)</label><br/>
                <input type="text" class="form-control" name="room_name" id="room_name" value="{{ room.room_name }}" />
                <br/>
                <label for="room_size">Room Size</label><br/>
                <select class="form-control" name="room_size" id="room_size">
                    <option value="Select">Select</option>
                    <option value="Single Room">Single Room</option>
                    <option value="Double Room">Double Room</option>
                    <option value="Family Room">Family Room</option>
                </select>
                <br/>
                <label for="room_description">Room Description</label><br/>
                <textarea class="form-control" rows="10" cols="50" name="room_description" id="room_description">{{ room.room_description }}</textarea>
                <br/>
                <label for="currency">Currency</label><br/>
                <select class="form-control" name="currency" id="currency">
                    <option value="Select">Select</option>
                    {% if room.currency == "British Pound" %}
                        <option value="British Pound" selected="selected">British Pound</option>
                    {% else %}
                        <option value="British Pound">British Pound</option>
                    {% endif %}

                    {% if room.currency == "US Dollar" %}
                        <option value="US Dollar" selected="selected">US Dollar</option>
                    {% else %}
                        <option value="US Dollar">US Dollar</option>
                    {% endif %}

                    {% if room.currency == "Euro" %}
                        <option value="Euro" selected="selected">Euro</option>
                    {% else %}
                        <option value="Euro">Euro</option>
                    {% endif %}
                </select>
                <br/>
                <label for="starting_price">Starting Price</label><br/>
                <input type="text" class="form-control" name="starting_price" value="{{ room.starting_bid_price }}" />
                <br/>
                <label for="valid_for_bid_from">Valid For Bid From</label><br/>
                <input type="date" class="form-control" name="valid_for_bid_from" value="{{ room.valid_for_bid_from | date:'Y-m-d' }}" />
                <br/>
                <label for="valid_for_bid_until">Valid For Bid Until</label><br/>
                <input type="date" class="form-control" name="valid_for_bid_until" value="{{ room.valid_for_bid_until | date:'Y-m-d' }}" />
                <br/>
                <strong><input type="submit" class="form-control" value="Update Room Details" /></strong>
	        </form>
        </div>
    </div>
{% endblock %}